<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo"><span id="cheezy">Cheezy</span><br>
        <span id="smiley">  ☻</span><br><span id="spot">Burger</span><br> <img src="https://i.postimg.cc/RZWZDx8K/image.png" alt=""> </a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Menu</a>
                    <a routerLink="">Location</a>
                    <a routerLink="login">Login</a>
                    <a routerLink="cart-page">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
